
<mat-icon class="close" mat-button mat-dialog-close>close</mat-icon>
<div mat-dialog-title class="h1-responsive text-align titre_modal_add">DETAILS COMITE</div>
<mat-dialog-content>
    <mat-accordion class="example-headers-align" multi>
        <div class="example-action-buttons">
            <button *ngIf="showIcon === true" mat-raised-button color="primary" (click)="accordion.openAll(); showIcon = !showIcon">
                       <mat-icon>expand_more</mat-icon> Afficher
                    </button>
            <button *ngIf="showIcon === false" mat-raised-button color="warn" (click)="accordion.closeAll(); showIcon = !showIcon">
                      <mat-icon>expand_less</mat-icon> Fermer
                    </button>
        </div>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span style="margin-top: 2px;">{{ comite.libelle }}</span>
                    
                </mat-panel-title>
            </mat-expansion-panel-header>
         
            
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="lib">{{ comite.pointfocals.length }}   {{comite.pointfocals.length <= 1 ? ' Membre' : ' Membres'}} </span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-expansion-panel *ngFor="let pointfocal of comite.pointfocals">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <img style="width: 5%; border-radius: 5px; margin-right: 5px;" src="assets/img/partenaire-logo.jpg">
                        <span style="margin-top: 2px;">{{pointfocal?.agent?.nom}}</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                
                <mat-panel-description>
                    <span class="lib">Prenom : </span><span class="des">{{pointfocal?.agent?.prenom}}</span>
                </mat-panel-description>
                <mat-panel-description>
                    <span class="lib">Matricule : </span><span class="des">{{pointfocal?.agent?.matricule}}</span>
                </mat-panel-description>
                <mat-panel-description>
                    <span class="lib">Structure : </span><span class="des">{{pointfocal?.agent?.uniteOrganisationnelle?.description }}</span>
                </mat-panel-description>
                
                
                
            
             
             
    
            </mat-expansion-panel>
        </mat-expansion-panel>
     
        </mat-expansion-panel>
    </mat-accordion>
</mat-dialog-content>
