.popup{
    margin-right: 40px;
    margin-left: 40px;
  
  }

  .monIcon{
    float:right;
}

.monIcon:hover{
    cursor:pointer;
   // background-color:#808080;
    background-color: tomato;
    
}
