<div mat-dialog-title style="font-family: monospace; text-align: center;">DETAILS NIVEAU HIERARCHIQUE</div>
<mat-dialog-content>

<mat-accordion class="example-headers-align" multi>
        <div class="example-action-buttons">
            <button *ngIf="showIcon === true" mat-raised-button color="primary" (click)="accordion.openAll(); showIcon = !showIcon">
                           <mat-icon>expand_more</mat-icon> Afficher
                        </button>
            <button *ngIf="showIcon === false" mat-raised-button color="warn" (click)="accordion.closeAll(); showIcon = !showIcon">
                          <mat-icon>expand_less</mat-icon> Fermer
                        </button>
        </div>
        
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>perm_identity</mat-icon>
                 <span>Niveau Hiérarchique</span>   
                </mat-panel-title>       
              
            </mat-expansion-panel-header>
            <mat-panel-description>
                <span>Id : </span>{{niveauHierarchique.id}}
            </mat-panel-description>
            <mat-panel-description>
                <span>Libellé : </span>{{niveauHierarchique.libelle}}
            </mat-panel-description>
            <mat-panel-description>
                <span>Position : </span>{{niveauHierarchique.position}}
            </mat-panel-description>
        </mat-expansion-panel>
    </mat-accordion>
    </mat-dialog-content>