<div>
    <mat-icon class="close" mat-button mat-dialog-close>close</mat-icon>
</div>
<div mat-dialog-title class="titre_modal_add">AJOUTER UN NOUVEAU PAYS</div>
<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex>
                <mat-label>Code</mat-label>
                <input matInput formControlName="code" required>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>Nom</mat-label>
                <input matInput formControlName="nom">
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex>
                <mat-label>Nom Officiel</mat-label>
                <input matInput formControlName="nomOfficiel" required>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>Image</mat-label>
                <input matInput formControlName="image" required>
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex>
                <mat-label>Latitude</mat-label>
                <input matInput formControlName="latitude" required>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>Longitude</mat-label>
                <input matInput formControlName="longitude" required>
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex>
                <mat-label>Zoom</mat-label>
                <input matInput formControlName="zoom" required>
            </mat-form-field>
            <section fxFlex>
                <mat-checkbox fxFlex formControlName="active">Active</mat-checkbox>
            </section>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">AJOUTER</button>
        <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">MODIFIER</button>
    </mat-dialog-actions>
</form>