<mat-icon class="close" mat-button mat-dialog-close>close</mat-icon>
<div class="pupup" mat-dialog-title class="h1-responsive text-align titre_modal_add">DETAILS TYPE DOTATION LAIT</div>
<mat-dialog-content>
    <mat-accordion class="example-headers-align" multi>
        <div class="example-action-buttons">
            <button *ngIf="showIcon === true" mat-raised-button color="primary" (click)="accordion.openAll(); showIcon = !showIcon">
                       <mat-icon>expand_more</mat-icon> Afficher
                    </button>
                    <button *ngIf="showIcon === false" mat-raised-button color="warn" (click)="accordion.closeAll(); showIcon = !showIcon">
                      <mat-icon>expand_less</mat-icon> Fermer
                    </button>
        </div>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span style="margin-top: 2px;">{{typeDotationLait.libelle}}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <span class="lib">Libelle:</span>
                <span class="des">{{typeDotationLait.libelle}}</span>
            </mat-panel-description>
            <mat-panel-description>
                <span class="lib">Nombre Article: </span><span class="des">{{typeDotationLait.nbreArticle}}</span>
            </mat-panel-description>

        </mat-expansion-panel>
    </mat-accordion>
</mat-dialog-content>

