<mat-icon class="close" mat-button mat-dialog-close>close</mat-icon>
<div class="pupup" mat-dialog-title style="font-family: monospace; text-align: center;">DETAILS ABSENCE</div>
<mat-dialog-content>
<mat-accordion class="example-headers-align" multi>
    <div class="example-action-buttons">
        <button *ngIf="showIcon === true" mat-raised-button color="primary" (click)="accordion.openAll(); showIcon = !showIcon">
                       <mat-icon>expand_more</mat-icon> Afficher
                    </button>
        <button *ngIf="showIcon === false" mat-raised-button color="warn" (click)="accordion.closeAll(); showIcon = !showIcon">
                      <mat-icon>expand_less</mat-icon> Fermer
                    </button>
    </div>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
             <mat-icon>call_missed_outgoing</mat-icon>
              <span>Absence</span>  
            </mat-panel-title>           
        </mat-expansion-panel-header>
        <!-- <mat-panel-description>
            <span>Id : </span>{{absence.id}}
        </mat-panel-description> -->
        <mat-panel-description>
            <span>Date Depart : </span>{{absence.dateDepart | date: 'dd-MM-yyyy'}}
        </mat-panel-description>
        <mat-panel-description>
            <span>Date Previsionnelle : </span>{{absence.dateRetourPrevisionnelle | date: 'dd-MM-yyyy'}}
        </mat-panel-description>
        <mat-panel-description>
            <span>Motif : </span>{{absence.motif.description}}
        </mat-panel-description>
        <!-- <mat-panel-description>
            <span>Jours d'absence : </span>{{getNombtreJour()}} jours
        </mat-panel-description> -->
        <mat-panel-description>
            <span>Commentaire : </span>{{absence.commentaire}}
        </mat-panel-description>
        <mat-panel-description>
            <span>Etat: </span>{{absence.etat}}
        </mat-panel-description>
        <mat-panel-description>
            <span>Date Saisie : </span>{{absence.dateSaisie  | date: 'dd-MM-yyyy'}}
        </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
             <mat-icon>supervisor_account</mat-icon>
              <span>Agent Demandeur</span>  
            </mat-panel-title>        
        </mat-expansion-panel-header>
        <mat-panel-description>
            <span>Matricule : </span>{{absence.agent.matricule}}
        </mat-panel-description>
        <mat-panel-description>
            <span>Nom : </span>{{absence.agent.nom.toUpperCase()}}
        </mat-panel-description>
        <mat-panel-description>
            <span>Prénom : </span>{{absence.agent.prenom}}
        </mat-panel-description>
        <mat-panel-description>
            <span>Mail : </span>{{absence.agent.email}}
        </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <!-- <mat-expansion-panel-header>
            <mat-panel-title>
            <mat-icon>perm_identity</mat-icon>
            <span>Fonction</span> 
            </mat-panel-title>
          
        </mat-expansion-panel-header> -->
        <!-- <mat-panel-description>
            <span>Nom : </span>{{absence.agent.fonction.nom}}
        </mat-panel-description> -->
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
             <mat-icon>category</mat-icon>
            <span> Unite Organisationelle</span>   
            </mat-panel-title>
            
        </mat-expansion-panel-header>
        <mat-panel-description>
            <span>Code : </span>{{absence.uniteOrganisationnelle.code.toUpperCase()}}
        </mat-panel-description>
        <mat-panel-description>
            <span>Description : </span>{{absence.uniteOrganisationnelle.description}}
        </mat-panel-description>
    </mat-expansion-panel>
</mat-accordion>
</mat-dialog-content>