<div class="w500">
<div><mat-icon class="monIcon" mat-button mat-dialog-close>close</mat-icon></div>
<div mat-dialog-title *ngIf="isCreateMode()" class="titre_modal_add">Ajouter Niveau</div>
<div mat-dialog-title *ngIf="isUpdateMode()" class="titre_modal_add">Modifier Niveau</div>
<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>
        <div class="person">
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="34px">
                <mat-form-field fxFlex>
                    <mat-label>Libellé</mat-label>
                    <input type="text" formControlName="libelle" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="person">
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="34px">
                <mat-form-field fxFlex>
                    <mat-label>Position</mat-label>
                    
                    <input type="text" formControlName="position" pattern="[0-9]+" matInput>       
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">AJOUTER</button>
        <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">MODIFIER</button>
        <div *ngIf="isCreateMode()">
            <button  mat-button (click)="onReinitialize()" type="reset" [disabled]="!form.valid">RESET</button>
        </div>
        
    </mat-dialog-actions>
</form>
</div>
