.pupup{
    margin-right: 110px;
    margin-left: 30px;
  
  }

  .monIcon{
    float:right;
}

.monIcon:hover{
    cursor:pointer;
   // background-color:#808080;
    background-color: tomato;
    
}