<mat-icon class="close" mat-button mat-dialog-close>close</mat-icon>
<div class="pupup" mat-dialog-title>VALIDATION ABSENCE</div>
<form [formGroup]="form" (ngSubmit)="updateAbsenceValider()">
    <mat-dialog-content>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="34px">
            <mat-form-field fxFlex>
                <mat-label>Commentaire</mat-label>
                <textarea formControlName="commentaire" matInput></textarea>
            </mat-form-field>
        </div>
    
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button  mat-button [disabled]="!form.valid">VALIDER</button>
        <!-- <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">MODIFIER</button> -->
    </mat-dialog-actions>
</form>