@import "var";
.page {
    height: 100%;
    width: 100%;
    background-image: url('../../../../assets/img/background_login_10.jpg');
    // height: 500px; /* You must set a specified height */
   // background-position: center;
    background-position: inherit;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.card {
    width: 380px;
    @include media-xs {
        width: 300px;
    }
    .header {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }
}

.logo {
    width: 100px;
    height: 100px;
    background-image: url('../../../../assets/img/icone.png');
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

// .background-primary {
// }