<div><mat-icon class="close" mat-button mat-dialog-close>close</mat-icon></div>
<div mat-dialog-title class="popup titre_modal_add">AJOUTER TYPE DE PARTENARIAT</div>

<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="34px">
      <mat-form-field fxFlex>
          <mat-label>Libelle</mat-label>
          <textarea formControlName="libelle" matInput></textarea>
      </mat-form-field>
  </div>

  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="34px">
    <section fxFlex>
        <mat-checkbox fxFlex formControlName="active">Active</mat-checkbox>
    </section>
  </div>

    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button *ngIf="isCreateMode()" mat-button [disabled]="!form.valid">ENREGISTRER </button>
        <button *ngIf="isUpdateMode()" mat-button [disabled]="!form.valid">MODIFIER</button>
    </mat-dialog-actions>
</form>

