<div><mat-icon class="close" mat-button mat-dialog-close>close</mat-icon></div>
<div mat-dialog-title>Valider attestation</div>

<form [formGroup]="form" (ngSubmit)="validerAttestation()">
    <mat-dialog-content>
    
        <div class="person">
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
                <mat-form-field fxFlex>
                    <mat-label>Commentaire</mat-label>
                    <textarea formControlName="commentaire" matInput></textarea>
                </mat-form-field>
            </div>
        </div> 
      
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-button [disabled]="!form.valid">VALIDER</button>
    </mat-dialog-actions>
</form>