<fury-page-layout mode="card">
    <fury-page-layout-header>
        <fury-breadcrumbs [@fadeInRight] [crumbs]="['Gestion Stock']" current="Stock"></fury-breadcrumbs>
    </fury-page-layout-header>

    <fury-page-layout-content [@fadeInUp]>
        <fury-list *ngIf="stocks.length !== 0 && showProgressBar === true" name="Stock" [columns]="columns" (filterChange)="onFilterChange($event)">
            <div class="actions">
                <button class="create" (click)="nouvelleAcquistion()" type="button" mat-button color="primary">
                    <span>Nouvelle Acquistion</span>
                </button>
                <button [disabled]="stocks.length !== 0"class="create" (click)="createStock()" type="button" mat-mini-fab color="primary">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <table [dataSource]="dataSource" mat-table matSort>
                <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

                <!-- Checkbox Column -->
                <ng-container matColumnDef="checkbox">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell>
                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
                    </th>
                    <td *matCellDef="let row" class="actions-cell" mat-cell>
                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
                    </td>
                </ng-container>
                <!-- Ville column -->
                <!-- Image Column -->
                <!-- <ng-container matColumnDef="ville">
                    <th *matHeaderCellDef class="image-cell" mat-header-cell>Ville</th>
                    <td *matCellDef="let row" class="image-cell" mat-cell>
                        <span>{{row.ville.nom}}</span>
                    </td>
                </ng-container> -->
                <!-- fullName Column -->
                <ng-container  *ngFor="let column of columns">
                    <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property" >
                        <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.name }}</th>
                        <td *matCellDef="let row" mat-cell [ngClass]="
                                    {
                                        'stock-critique': ((row.quantiteCourant/row.quantiteReference) * 100) <= row.seuilMinimum
                                    }">
                            <span *ngIf="column.name === 'Taux Alerte'">
                                {{ row[column.property] }} %
                            </span>
                            <span *ngIf="column.name === 'Taux Disponibilité'">
                                {{ (row.quantiteCourant/row.quantiteReference) * 100  | number : '1.2-2' }} %
                            </span>
                            <span *ngIf="column.name !== 'Taux Alerte' && column.name !== 'Taux Disponibilité'">
                                {{ row[column.property]}}
                            </span>
                        </td>
                    </ng-container>
                </ng-container>
                <!-- actions Column -->
                <ng-container matColumnDef="action">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header></th>
                    <td *matCellDef="let row" class="actions-cell" mat-cell>
                        <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                        <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="after">
                            <button [disabled]="(row.quantiteCourant/row.quantiteReference) < 1" (click)="updateStock(row)" mat-menu-item>
                                <mat-icon>edit</mat-icon>
                                <span>MODIFIER</span>
                            </button>
                            <button (click)="correctionStock(row)" mat-menu-item>
                                <mat-icon>edit</mat-icon>
                                <span>Correction</span>
                            </button>
                            <button [disabled]="(row.quantiteCourant/row.quantiteReference) < 1" (click)="deleteStock(row)" mat-menu-item>
                                <mat-icon>delete_sweep</mat-icon>
                                <span>SUPPRIMER</span>
                            </button>
                            <button [routerLink]="['/dotation/suivi-stock-lait/list-suivi-stock-lait', row.id]" mat-menu-item matTooltip="Liste des acquisitions">
                                <mat-icon>folder</mat-icon>
                                <span>Suivi stock</span>
                            </button>
                            <!-- <button [routerLink]="['/dotation/suivi-stock-lait/list-categorie-stock-lait', row.id]" mat-menu-item matTooltip="Liste des acquisitions">
                                <mat-icon>folder</mat-icon>
                                <span>Sous Stock</span>
                            </button> -->
                        </mat-menu>
                    </td>
                </ng-container>

                <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
                <tr (click)="detailsStock(row)" *matRowDef="let row; columns: visibleColumns;" class="clickable route-animations-elements" mat-row></tr>
            </table>

            <mat-paginator class="paginator" [pageSize]="pageSize"></mat-paginator>
        </fury-list>
        <div *ngIf="stocks.length === 0 && showProgressBar === true" class="card text-center">
            <div class="card-header">
                <span class="badge badge-info">
                    INFORMATION
                </span>
            </div>
            <div class="card-body">
                <h5 class="card-title">LISTE Stock VIDE</h5>
                <p class="card-text">Ajouter un nouveau Stock</p>
                <button type="button" mat-mini-fab color="primary" (click)="createStock()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="card-footer text-muted">
                {{date | date : 'dd/MMM/yyyy HH:mm:ss'}}
            </div>
        </div>
        <mat-progress-bar *ngIf="showProgressBar === false" mode="query" color="primary"></mat-progress-bar>
    </fury-page-layout-content>
</fury-page-layout>