.font {
    font-family: monospace;
}

span {
    font-family: monospace;
    font-weight: bold;
    text-align: center;
}

.mat-divider {
    border-top-width: 2px;
    border-top-style: dashed;
}

.example-card {
    max-width: 40%;
}