<fury-page [fxLayoutGap]="gap" class="dashboard" fxLayout="column">
  <!-- <fury-page-layout mode="card">
    <fury-page-layout-header>
      <fury-breadcrumbs [@fadeInRight] [crumbs]="['Suivi Stock']" current="Suivi Stock"></fury-breadcrumbs>
  </fury-page-layout-header> -->

    <div fxFlex="noshrink" fxLayout="column" [fxLayoutGap]="gap" fxLayout.gt-lg="row">
      <div fxLayout="column" [fxLayoutGap]="gap" [fxFlex]="col(2)" fxLayout.gt-sm="row">
        <div fxFlex="auto" [fxFlex.gt-sm]="col(4)">
          <div class="card-body" class="p-3 mb-2 bg-success text-white">
            <h5 class="card-title card-text text-center">Stock Total</h5>
            <h1 class="card-text text-center">{{stockReference}}</h1>
            <!-- <a (click)="DetailsStocks()" class="">Détails</a> -->
            <button class="create text-white" (click)="DetailsStocks()"  type="button" mat-button color="primary">
              <span>Détails</span>
          </button>
          </div>
        </div>

  
        <div fxFlex="auto" [fxFlex.gt-sm]="col(4)">
          <div class="card-body" class="p-3 mb-2 bg-primary text-white">
            <h5 class="card-title card-text text-center">Stock Courant</h5>
            <h1 class="card-text text-center">{{quantiteCourante}}</h1>
            <!-- <a (click)="DetailsStocksCourant()" class="p-3 text-white">Détails</a> -->
            <button class="create text-white" (click)="DetailsStocksCourant()"  type="button" mat-button color="primary">
              <span>Détails</span>
            </button>
          </div>
        </div>
        <div fxFlex="auto" [fxFlex.gt-sm]="col(4)">
          <div class="card-body" class="p-3 mb-2 bg-danger text-white">
            <h5 class="card-title card-text text-center">Acquistions</h5>
            <h1 class="card-text text-center">{{acquisitionTotal}}</h1>
            <!-- <a (click)="DetailsStocksAcquisitions()" class="p-3 text-white">Détails</a> -->
            <button class="create text-white" (click)="DetailsStocksAcquisitions()"  type="button" mat-button color="primary">
              <span>Détails</span>
            </button>
          </div>
        </div>
  
        <div fxFlex="auto" [fxFlex.gt-sm]="col(4)">
          <div class="card-body" class="p-3 mb-2 bg-primary text-white">
            <h5 class="card-title card-text text-center">Attributions</h5>
            <h1 class="card-text text-center">{{attributionTotal}}</h1>
            <!-- <a (click)="DetailsStocksAttributions()" class="p-3 text-white">Détails</a> -->
            <button class="create text-white" (click)="DetailsStocksAttributions()"  type="button" mat-button color="primary">
              <span>Détails</span>
            </button>
          </div>
        </div>
        <!-- <div fxFlex="auto" [fxFlex.gt-sm]="col(4)">
          <div class="card-body" class="p-3 mb-2 bg-success text-white">
            <h5 class="card-title card-text text-center">Quantité Restante</h5>
            <h1 class="card-text text-center">{{quantiteRestant}}</h1>

            <button class="create text-white" (click)="DetailsStocks()"  type="button" mat-button color="primary">
              <span>Détails</span>
          </button>
          </div>
        </div> -->
        
      </div>
  
    <div>

      <div class="example-container">
        <mat-form-field  appearance="fill">
          <input matInput [matDatepicker]="picker" placeholder="choisir une date" [formControl]="dateV">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker (yearSelected)="yearSelected($event)" startView="multi-year"></mat-datepicker>
        </mat-form-field>
      </div>

    </div>
  
    <div>
      
    </div>
    </div>
    <div>
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
    <fury-page-layout-content [@fadeInUp]>
      <fury-list *ngIf="suiviStocks.length !== 0 && showProgressBar === true" name="Stock" [columns]="columns" (filterChange)="onFilterChange($event)">
        <div class="actions">
          <button mat-button (click)="exporter.exportTable('xlsx',{fileName:'Stock'})" type="button" mat-mini-fab color="primary">
              <mat-icon>table_view</mat-icon>
          </button>
      </div>
          <table matTableExporter #exporter="matTableExporter" [dataSource]="dataSource" mat-table matSort>
              <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

              <!-- Checkbox Column -->
              <ng-container matColumnDef="checkbox">
                  <th *matHeaderCellDef class="actions-cell" mat-header-cell>
                      <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
                  </th>
                  <td *matCellDef="let row" class="actions-cell" mat-cell>
                      <mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
                  </td>
              </ng-container>
              <!-- fullName Column -->
              <ng-container *ngFor="let column of columns">
                  <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
                      <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.name }}</th>
                      <td *matCellDef="let row" mat-cell>
                          <p *ngIf="column.name === 'Traité par' && column.name !== 'CategorieLait'">
                              {{ (row.matriculeAgent + ' | ' + row.prenomAgent + ' ' + row.nomAgent) | titlecase}}
                          </p>
                          <p *ngIf="column.name === 'Operation'">
                              <span *ngIf="row.operation === 'acquisition' " class="badge badge-success">{{ row.operation }} </span>
                              <span *ngIf="row.operation === 'attribution' " class="badge badge-primary">{{ row.operation }} </span>
                              <span *ngIf="row.operation === 'correction' " class="badge badge-dark">{{ row.operation }} </span>
                          </p>
                          <p *ngIf="column.name === 'CategorieLait'">
                            {{ row?.categorieLait?.description || '---'}}
                        </p>
                          <p *ngIf="column.name !== 'Traité par' && column.name !== 'Operation' && column.name !== 'CategorieLait'">
                              {{ row[column.property]}}
                          </p>
                      </td>
                  </ng-container>
              </ng-container>

              <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
              <tr (click)="detailsSuiviStock(row)" *matRowDef="let row; columns: visibleColumns;" class="clickable route-animations-elements" mat-row></tr>
          </table>

          <mat-paginator class="paginator" [pageSize]="pageSize"></mat-paginator>
      </fury-list>
      <div *ngIf="suiviStocks.length === 0 && showProgressBar === true" class="card text-center">
          <div class="card-header">
              <span class="badge badge-info">
                  INFORMATION
              </span>
          </div>
          <div class="card-body">
              <h5 class="card-title">LISTE Suivi Stock VIDE</h5>
         
          </div>
          <div class="card-footer text-muted">
              {{date | date : 'dd/MMM/yyyy HH:mm:ss'}}
          </div>
      </div>
      <mat-progress-bar *ngIf="showProgressBar === false" mode="query" color="primary"></mat-progress-bar>
  </fury-page-layout-content>
  </fury-page>
<!-- </fury-page-layout> -->